#navbar {
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.website-title {
  font-size: 28px;
  font-weight: bold;
  color: $blue-site;
  &:hover {
    color: $blue-site;
  }
}

a:hover {
  text-decoration: none;
}
