// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

h3 {
  margin: 10px 0px;
}

.wrapper-flex {
  display: flex;
  margin: 50px 0;
}

.col-left {
  flex: 0 0 65%;
  margin-right: 5%;
}

.col-right {
  flex: 0 0 30%;
}

.white-box {
  margin: 20px 0;
  background-color: white;
  padding: 25px;
  p, h2 {
    margin: 0;
  }
  p.desc {
    margin-bottom: 25px;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 26px;
    font-family: "Mukta Malar";
  }
}

.form-wrapper {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1.small {
  margin: 0;
  font-size: 28px;
  color: $lighter-blue-site;
}

.dose_description {
  width: 35%;
}

.dose_ingredient {
  width: 40%;
}

#dose_description, #dose_ingredient {
  width: 100%;
  height: 30px;
  font-size: 15px;
}

#dose_submit {
  height: 30px;
  width: 15%;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#new_dose {
  display: none;
  justify-content: space-between;
  margin-top: 20px;
}

#adddose {
  margin-top: 20px;
  color: $blue-site;
}

#adddose:hover {
  color: $blue-site;
  opacity: 0.85;
  cursor: pointer;
}

.social {
  color: $blue-site;
  font-size: 22px;
  text-decoration: none;
}
